/*Text formatting*/


/*Link states*/

a:link, a:visited {
	color: black;
	background: LightGray;
	text-decoration: none;
}

a:focus, a:hover {
	color: white;
}

a:active {
	background-color: black;
}

/*Linked font*/

@font-face {
	font-family: Raleway;
	src:
		url('fonts/raleway.eot'),
		url('fonts/raleway.ttf'),
		url('fonts/raleway.woff'),
		url('fonts/raleway.svg');
}

p, ul, ol {
	color: black;
	font-family: Raleway, Courier, monospace;
	font-size: 1em;
	line-height: 1.2em;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	padding-top: .5em;
	font-size: 1.6em;
	font-family: Raleway, Helvetica, sans-serif;
	font-weight: normal;
}

.title {
	font-size: 2em;
	font-style: bold;
}

/*Page structure*/

body {
	background-attachment: fixed;
	background-image: url(../images/coralreef.jpg);
	background-repeat: repeat;
	-webkit-background-size: cover;
	background-size: cover;

}



#container { 
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 2%;
	width: 60%;
	margin: auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	border: 2px solid #606060;
	border-radius: 25px;
	background-attachment: fixed;
	background-image: url(../images/transparent.png);


}

/*#container::before
{
    content: "";
	width: 60%;	
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5%;
    z-index: -1;
    height: 100%;
    background: #F0F0F0;
    border: 2px solid #F0F0F0;
    border-radius: 25px;
    opacity: .8;
    

}*/

#content {
	margin-top: 4em;
	border-top: 1px solid #0066CC;
	padding-left: .5%;
	padding-right: .5%;
}

#footer {
	margin-top: 2em;
}

/*Flow of content*/

img {
	float: left;
	padding-right: 2%;
	padding-bottom: .5em;
}

ul, ol {
	list-style: none;
	padding-left: 0;
}

li {
	float: left;
	padding-right: 4%;
}

.shift {
	position: relative;
	left: 9em;
	top: 9em;
	z-index: -1;
	opacity: .5;
	display: none;
}

/*Media query*/

@media only screen and (min-width: 860px) {
	.col1 {
		width: 32%;
		float: left;
		margin-right: 2%;
	}

	.col2 {
		width: 32%;
		float: left;
		margin-right: 2%;
	}

	.col3 {
		width: 32%;
		float: left;
	}
}